In [1]:
import pandas as pd

In [2]:
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

In [3]:
print(type(items))

<class 'dict'>

In [4]:
shopping_carts = pd.DataFrame(items)
shopping_carts

         Alice    Bob
bike     500.0  245.0
book      40.0    NaN
glasses  110.0    NaN
pants     45.0   25.0
watch      NaN   55.0

In [5]:
shopping_carts.index

Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

In [7]:
shopping_carts.columns

Index(['Alice', 'Bob'], dtype='object')

In [8]:
shopping_carts.values

array([[ 500.,  245.],
       [  40.,   nan],
       [ 110.,   nan],
       [  45.,   25.],
       [  nan,   55.]])

In [9]:
shopping_carts.shape

(5, 2)

In [10]:
shopping_carts.ndim

2

In [12]:
shopping_carts.size

10